.main {
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__list-type {
    padding: 0;
    list-style: none;
    align-self: center;
  }
}

.card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 10px solid greenyellow;
  box-shadow: 3px 3px 5px pink;
  border-radius: 10px;
}

.form {
  display: flex;
  justify-content: flex-start;
  margin: 20px;
  &__label {
    background: linear-gradient(21deg, greenyellow, #f76ee0);
    color: purple;
    padding: 40px;
    border-radius: 50px 0px 0 50px;
  }
  &__input-text {
    padding: 40px;
    font-family: "Neucha", cursive;
    font-size: 12px;
    background: linear-gradient(21deg, aquamarine, pink);
    border: purple;
    border-radius: 0px 50px 50px 0;
  }
}

.detail {
  height: 100vh;
  background-color: #74e2f3;
  background-image: url(../images/lookatme.png);
  background-size: contain;
}
